bam_files/*
testing/
day3_troubleshooting/
cds/
RDP_release_11.5_align/
Harvard_output/
old/
unused/
tables/old_tables/*
scripts/old_scripts/*
scripts/test_scripts/*
scripts/unused_scripts/*
plots/old_plots/*
mmquant_out/*gtf
mmquant_out/*gff3
mmquant_out/Brassica_napus.AST_PRJEB5043_v1.dna.nonchromosomal.fa*
mmquant_out/testing/*
At_GO/ATH_GO_GOSLIM.txt
At_GO/ATH_GO.README.txt
At_GO/README
At_GO/TAIR_GO_slim_categories.txt
old_files/*
pcr_testing/*
scripts/figures/old_figure_scripts/*
Bnapus_deseq2_outfiles/deseq2.rds
Bnapus_deseq2_outfiles/multigene_included/deseq2.rds
Bnapus_sig_gene_sets_multigene/
plots/main/Figure2.pdf_OLD
